@media (max-width: 1350px) {
  .sidepanel {
    visibility: hidden;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .about {
    &__wrapper {
      grid-template-columns: 400px 525px;
      column-gap: 50px;
    }
    &__skills {
      grid-template-columns: repeat(2, 220px);
      column-gap: 40px;
    }
    &__skill {
      grid-template-columns: 40px minmax(auto, 200px)
    }
  }
  
  .resume {
    &__wrapper {
      column-gap: 50px;
    }
  }

  .usage {
    &__wrapper {
      //grid-template-columns: repeat(3,270px);
    }
    .scales {
      &__wrapper {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  
  .portfolio {
    &__wrapper {
      //grid-template-columns: repeat(auto-fit, 280px);
      //grid-auto-rows: 280px;
      
      .horizontal, .vertical {
        grid-row: unset;
        grid-column: unset;
      }
    }
  }
  
  .contacts {
    &__wrapper {
      grid-template-columns: 300px 550px;
    }
    &__form {
      grid-template-columns: repeat(2,270px);
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .title {
    &_fz48 {
      font-size: 41px;
      line-height: 53px;
    }
    &_fz36 {
      font-size: 30px;
    }
  }
  .promo {
    &__title {
      width: 450px;
    }
  }
  .about {
    &__wrapper {
      grid-template-columns: 300px 380px;
      column-gap: 50px;
    }
    &__photo {
      max-width: 540px;
    }

    &__skills {
      grid-template-columns: repeat(1, 380px);
      column-gap: 40px;
    }
    &__skill {
      grid-template-columns: 40px minmax(auto, 300px)
    }
  }

  .resume {
    &__wrapper {
      grid-template-columns: 425px;
      row-gap: 35px;
    }
  }

  .usage {
    &__wrapper {
      //grid-template-columns: repeat(2, 270px);
    }
  }
  
  .price {
    &__item {
      width: 320px;
    }
  }
  
  .contacts {
    &__wrapper {
      grid-template-columns: 0 550px;
      justify-content: center;
    }
    &__photo {
      visibility: hidden;
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  
  .title {    
    &_fz48 {
      font-size: 27px;
    }
  }
  .promo {
    &__title {
      width: 290px;
      line-height: 39px;
    }
  }
  .about {
    padding-top: 70px;
    
    &__wrapper {
      grid-template: 400px auto auto / 1fr;
      column-gap: 50px;
    }

    &__photo {
      grid-row: unset;
      img {
        object-position: 0px 20%;
        object-fit: cover;
      }
    }
    
    &__skills {
      grid-template-columns: repeat(2, 250px);
    }
    &__skill {
      grid-template-columns: 40px 200px;
      column-gap: 20px;
    }
  }

  .price {
    &__wrapper {
      grid-template-columns: 1fr;
    }
    &__item {
      width: 320px;
    }
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%!important;
    padding: 0 10px;
  }
  .hamburger {
    right: 20px;
  }
  .menu {
    &__block {
      width: 250px;
      padding-left: 20px;
    }
  }
  .title {
    &_fz48 {
      font-size: 26px;
    }
    &_fz36 {
      font-size: 24px;
      line-height: 40px;
    }
  }
  .btn {
    height: unset;
  }

  .about {
    padding-top: 50px;

    &__wrapper {
      grid-template: 340px auto auto / 1fr;
    }

    &__photo {
      grid-row: unset;
      img {
        object-position: 0px 20%;
        object-fit: cover;
      }
    }

    &__skills {
      grid-template-columns: 1fr;
    }
  }

  .resume {
    &__wrapper {
      grid-template-columns: 290px;
      padding-left: 15px;
    }
  }

  .usage {
    &__wrapper {
      //grid-template-columns: repeat(1, 270px);
    }
    .scales {
      &__wrapper {
        padding-top: 50px;
        grid-template-columns: 1fr;
      }
      
    }
  }
  
  .price {
    &__wrapper {
      padding-left: 25px;
    }
    &__item {
      width: 275px;
    }
  }
  
  .contacts {
    &__wrapper {
      grid-template-columns: 0 300px;
    }
    &__form {
      grid-template-rows: 45px 45px 190px auto;
      grid-template-columns: 270px;
    }
    &__textarea, &__triggers {
      grid-column: unset;
      column-gap: 20px;
    }
  }
}